<!-- Toolbar -->
<div class="contenido">
    <div class="navegation-bar col-md">
      <nav class="navbar">
        <div id="imagenes-wrapper">
          <div id="img-wrapper">
            <a routerLink="/" class="navbar-brand">
              <img id="logo" src="http://localhost:8080/../../imagenes/logo-black.png">
            </a>
          </div>  
        </div>
        <div></div>
        <div class="navbar-nav opciones">
          <div id="buscar-wrapper">
            <li class="nav-item buscar-li">
              <a routerLink="articulos" class="nav-link buscar">BUSCAR</a>
            </li>
          </div>
          <div id="add-wrapper">
            <li class="nav-item add">
              <a routerLink="add" id="add" class="nav-link">ADD</a>
            </li>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-xs-8">
      <router-outlet></router-outlet>
    </div>
</div>




